<template>
  <div class="loading-component">
    <div id="lottie-container"></div>

    <div if.bind="showOtherContent">
      <div class="pokemon-card">
        <div class="pokemon-info">
          <img
            class="pokemon-image"
            src="${pokemonData.sprites.front_default ? pokemonData.sprites.front_default : 'https://www.pngitem.com/pimgs/m/106-1062100_peter-griffin-pixel-art-hd-png-download-png.png'}"
            alt="${pokemonData.name}"
          />
          <h1 class="pokemon-name">${toFormattedName(pokemonData.name)}</h1>

          <div class="pokemon-description" if.bind="pokemonData.description">
            <p>${pokemonData.description}</p>
          </div>

          <div class="pokemon-stats">
            <div class="stat-item" repeat.for="stat of pokemonData.stats">
              ${toStatName(stat.stat.name)}:
              <span class="stat-value">${stat.base_stat}</span>
            </div>
          </div>
          <button class="back-button" click.delegate="returnHome()">
            Return
          </button>
        </div>
      </div>
    </div>
  </div>
  <div id="pokemon-stats"></div>
</template>
